services:

  db:
    image: mysql:8.0.43-debian
    container_name: mysql_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: dbSS
      MYSQL_USER: userSS
      MYSQL_PASSWORD: pass
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"
  
  web:
    build: .
    container_name: apache_php
    ports:
      - "8080:80"
    volumes:
      - ./www:/var/www/html
    depends_on:
      - db
    command: >
      bash -lc "
      cd /var/www/html &&
      rm -f storage/framework/vite.hot &&
      npm ci || npm install &&
      npm run build &&
      php artisan optimize:clear &&
      apache2-foreground
      "

  
  phpmyadmin:
    image: phpmyadmin:latest
    container_name: pma
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: root
    depends_on:
      - db
    ports:
      - "8081:80"

volumes:
  db_data: