/* ===== Ítem especial: Panel de Configuración ===== */

/* Estilo base del enlace con id="panel" */
#panel {
    display: block;
    padding: 12px 14px;
    background-color: #e78d7d;
    color: #0b1530;
    text-decoration: none;
    font-weight: 700;
    border: 1px solid transparent;
}

/* Hover solo para ese enlace */
#panel:hover {
    background-color: #e78d7d;
}
